<div class='row'>
  <div class='col-md-6'>
    <p class='lead'>Number of Contacts: TODO: # of contacts</p>
  </div>

  <div class='col-md-6'>
    <p class='lead'>Number of Referrals: TODO: # of referrals</p>
  </div>
</div>

<h1>Referral Leaderboard</h1>
<table class='table leaderboard'>
  <tr>
    <th>Name</th>
    <th># of Referrals</th>
  </tr>
  <tr>
    <td colspan="2">TODO: List the top 5 contacts by # of referrals</td>
  </tr>
</table>
